.tab-item-paly-content {
  .weui-cells:before,
  .weui-cells:after,
  .weui-cell:before {
    border-top: 1px solid #e5e5e5;
  }
}

.tab-item-mall-wrap,
.tab-personal-center-wrap,
.login-wrap,
.real-name-auth-content,
.add-address-con {
  .weui-cells {
    border: none;
    margin-top: 0;
  }
}

.tab-item-mall-wrap,
.tab-personal-center-wrap,
.cell-no-border,
.user-message-wrap,
.setting-app-content,
.login-wrap,
.real-name-auth-con,
.real-name-auth-content,
.add-address-con {
  .weui-cells:before {
    border: none;
  }
}

.tab-item-mall-wrap,
.tab-personal-center-wrap,
.cell-no-border,
.user-message-wrap,
.setting-app-content,
.login-wrap,
.real-name-auth-con,
.real-name-auth-content,
.add-address-con {
  .weui-cells:after {
    border: none;
  }
}

.tab-item-mall-wrap,
.user-message-wrap,
.login-wrap {
  .weui-cell:before {
    border: none;
  }
}

.tab-item-play-search-wrap {
  .weui-search-bar__form {
    border-radius: 10px;
  }
}

.input-text-wrap,
.release-video-content-wrap,
.user-interal-wrap-tools-wrap {
  .weui-cells {
    margin-top: 0;
  }
  .weui-cells:after {
    border: none;
  }
  .weui-cell:before,
  .vux-no-group-title:before {
    border: none;
  }
  textarea {
    box-sizing: border-box;
    word-break: break-all;
    overflow: hidden;
    overflow-y: scroll;
  }
  .weui-textarea {
    background: #f9f9f9;
  }
  div {
    border: none;
  }
}

.inline-number-wrap {
  .weui-cell {
    padding: 0;
  }
  .vux-number-selector-plus,
  .vux-number-selector-sub {
    padding: 0;
  }
  .vux-number-selector svg {
    fill: #111;
  }
}

.setting-app-content {
  .weui-cells {
    margin-top: 10px;
  }
}

.vux-x-dialog-absolute .weui-dialog {
  word-break: break-all;
}

.vux-cell-primary {
  .vux-number-input {
    font-size: 14px;
    outline: none;
  }
}

button {
  outline: none;
}

.pulldown-wrapper,.pullup-wrapper {
  .after-trigger {
    .scroll-loading {
      background: #fff;
    }
  }
}