.tab-item-paly-content {
  .weui-cells:before,
  .weui-cells:after,
  .weui-cell:before {
    border-top: 1px solid #e5e5e5;
  }
}

.tab-item-mall-wrap,
.tab-personal-center-wrap {
  .weui-cells {
    border: none;
    margin-top: 0;
  }
}

.tab-item-mall-wrap,
.tab-personal-center-wrap,
.cell-no-border,
.user-message-wrap {
  .weui-cells:before {
    border: none;
  }
}

.tab-item-mall-wrap,
.tab-personal-center-wrap,
.cell-no-border,
.user-message-wrap {
  .weui-cells:after {
    border: none;
  }
}

.tab-item-mall-wrap,
.user-message-wrap {
  .weui-cell:before {
    border: none;
  }
}

.tab-item-play-search-wrap {
  .weui-search-bar__form {
    border-radius: 10px;
  }
}

.input-text-wrap {
  .weui-cells {
    margin-top: 0;
  }
  .weui-cells:after {
    border: none;
  }
  .weui-cell:before,.vux-no-group-title:before {
    border: none;
  }
  textarea {
    box-sizing: border-box;
    word-break: break-all;
    overflow: hidden;
    overflow-y: scroll;
  }
  .weui-textarea {
    background: #f9f9f9;
  }
  div {
    border: none;
  }
}