.tab-item-paly-content {
  .weui-cells:before,
  .weui-cells:after,
  .weui-cell:before {
    border-top: 1px solid #e5e5e5;
  }
}

.tab-item-mall-wrap,
.tab-personal-center-wrap {
  .weui-cells {
    border: none;
    margin-top: 0;
  }
}

.tab-item-mall-wrap,
.tab-personal-center-wrap,
.cell-no-border,
.user-message-wrap {
  .weui-cells:before {
    border: none;
  }
}

.tab-item-mall-wrap,
.tab-personal-center-wrap,
.cell-no-border,
.user-message-wrap {
  .weui-cells:after {
    border: none;
  }
}

.tab-item-mall-wrap,
.user-message-wrap {
  .weui-cell:before {
    border: none;
  }
}
.tab-item-play-search-wrap {
  .weui-search-bar__form{
    border-radius: 10px;
  }
}